
<div class="box"
    (mouseover)="showDetails(true)"
    (mouseleave)="showDetails(false)">

  <div class="header center">
    {{city.name}}, {{ city.country}}
  </div>

  <hr>

  <div class="body center"
      [ngClass]="{'blue'  : cityData?.main?.temp <= 5,
                  'orange': cityData?.main?.temp > 5 && cityData?.main?.temp <= 25,
                  'red'   : cityData?.main?.temp > 25}">
    {{ cityData?.main?.temp }}º

    <app-loading class="body center" *ngIf="showLoading"></app-loading>
  </div>

  <div class="body center error" *ngIf="!cityData">
    <p class="error-message">Something went wrong</p>
    <button (click)="getCityData()" class="button-try">Try Again</button>
  </div>

  <div class="footer" *ngIf="cityData">
    <div *ngIf="cityData?.isActive">
      <div class="data">
        <p>Humidity</p>
        <p>Pressure</p>
      </div>

      <div class="data bold">
        <p>{{ cityData?.main?.humidity }}%</p>
        <p>{{ cityData?.main?.pressure}}hPa</p>
      </div>
    </div>

    <div class="center footer-padding">
      Updated at {{ lastSync | date : 'HH:mm:ss' }}
    </div>
  </div>
</div>
