.box {
  width: auto;
  height: auto;
  background-color: white;
  box-shadow: #333333;
}

.header {
  padding: 10px 0 10px 0;
  color: var(--primary-grey);
}

hr {
  color: var(--divider);
  opacity: 0.5;
  margin: 0;
}

.body {
  padding: 20px 60px 20px 60px;
  color: var(--primary-color);
  font-size: 80px;
}

.footer {
  background-color: var(--app-background);
  opacity: 0.5;
  font-size: 12px;
}

.data {
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.footer-padding {
  padding: 15px 0 15px 0;
}

.bold {
  font-weight: bold;
}

.blue {
  color: var(--primary-color);
}

.orange {
  color: var(--secondary-color);
}

.red {
  color: var(--tertiary-color);
}

loading {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-message {
  color: var(--tertiary-color);
  font-size: 16px;
  padding-bottom: 10%;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-try {
  border: 2px solid var(--primary-grey);
  background-color: white;
  color: var(--primary-grey);
  font-size: 16px;
  width: 120px;
  height: 40px;
  border-radius: 20px 20px;
  cursor: pointer;
}
